:root{
    --Grey: #F4F4F5;
    --Primary-blue: #0c4a6e;
    --Off-white: #FAFAFA; 
    --Black:#000000;
}
/* ***************** utilities & containers ***************** */
.inner-container {
    max-width: 1528px;
}
/* ***************** global typography ***************** */

/* ***************** header & footer ***************** */
header, footer{
    
}
/* ***************** main content ***************** */
